<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<%= flash.now[:notice] if flash.now[:notice]  %>

<h1><%=  current_user ? "Hola User: #{current_user.email}" : "Hola Extraño"  %></h1>

<br>

<% if current_user %>
  <%= link_to('Log Out', session_path(current_user), method: :delete) %>
<% else %>
    <%= link_to('Log IN', new_session_path) %>
<% end %>